.businessBlock {
height: 541px;
    width: 100%;
}
.businessBlockContainer img{
height: 100%;
}
.businessBlockContainer {
    display: flex;
}
.businessBlockTitle {
display: flex;
justify-content: center;
flex-direction: column;
padding-left: 60px;
gap: 30px;
}
.businessBlockTitle h2 {
    font-size: 40px;
}
.businessBlockTitle h3 {
    font-size: 32px;
}
.businessBlockTitle span {
    width: 598px;
    height: 2px;
    background: #231F21;
}
.businessBlockTitle p {
    width: 598px;
    font-size: 14px;
}
.hartLine {
    width: 100%;
    height: 20px;
   background: #C6CB53;
}